body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e0c9a6;
}

* {
    line-height: 1.5;
    font-family: Sofia, Verdana, sans-serif;
    font-size: 18px;
}

.container {
    width: 700px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(92, 70, 36);
    border: 3px solid rgb(0, 0, 0);
}

#container {
    height: 700px;
}

.recipe-card {
    background-color: rgb(221, 214, 214);
    border: 3px solid #000000;
    width: 400px;
    margin: 30px auto;
    color: rgb(13, 1, 85);
    padding: 10px 100px;
    text-align: center;
}

.heading {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.heading.main {
    text-decoration: underline;
}

img {
    width: 400px;
    height: auto;
    border: 1px dotted blue;
    margin: 20px auto;
}

.recipe-ingredients {
    padding: 10px;
}

.recipe-ingredients img {
    margin-left: -40px;
}

h3.heading {
    text-align: left;
}

ul li{
    line-height: 3;
    text-align: left;
}

ol li{
    line-height: 2;
    text-align: left;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(13, 1, 85);
    font-size: 18px;
}
