body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e0c9a6;
}

* {
    line-height: 1.5;
    font-family: Sofia, Verdana, sans-serif;
}

.container {
    width: 700px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(92, 70, 36);
    border: 2px solid rgb(0, 0, 0);

}

.recipe-card {
    background-color: whitesmoke;
    border: 3px solid #6d2902;
    width: 400px;
    margin: 100px auto;
    color: black;
}

.heading {
    font-weight: 800;
    font-size: 24;
    text-align: center;
}

.heading.main {
    text-decoration: underline;
}

h3.heading {
    text-align: left;
}

ul li{
    line-height: 3;
}

ol li{
    line-height: 2;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 18px;
}
